html{
  font-size: 18px;
  line-height: 1.4;
}

*{
  font-family: Helvetica;
}

p{
  font-size: 0.77rem;
  margin-top: 1rem;
}

header{
  height: 17rem;
}

.top, .container{
  background-color: cadetblue;
  color: white;
  width: 100%;
}

.container{
  display: flex;
  justify-content: center;
}

.top{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.container h2{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.desktab, .foot-txt{
  display: none;
}

.mobile{
  padding-right: 2rem;
}

header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-position: 20%;
}

.banner{
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  margin-top: 9rem;
}

.banner h1{
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.top img{
  height: 1.5rem;
  padding: 1rem 2rem 1rem 1rem;
}

.logos{
  display: flex;
  padding-top: 3.77rem;
  padding-bottom: 3.77rem;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

.exams, .fittings, .delivery{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  height: 8rem;
  width: 5rem;
}


.exams img{
  width: 3.5rem;
  height: auto;
  margin: 0px auto;
}

.fittings img, .delivery img{
  width: 5rem;
  height: auto;
}

.fittings{
  padding-top: 1.54rem;
  padding-bottom: 1.54rem;
}

.info{
  display: flex;
  flex-flow: column wrap;
}

.philosophy, .appointments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  height: 9.5rem;
  width: 100%;
}

footer img{
  height: 1.5rem;
}

.foot-txt{
  display: none;
}
